
<h1>Pages#contact</h1>

<p>
  <%= number_to_phone(555555555) %>
  <%= number_to_currency(155) %>
</p>
<p>
  <%= number_to_currency(155) %>
</p>
<p>
  <%= number_to_percentage(80.4) %>
</p>
<p>
  <%= number_with_delimiter("123480608799") %>
</p>
